import React from 'react';

// Components....

// StyleSheet....
import '../styles/{{properCase name}}.js';

const {{ properCase name }} = () => {

   return <div>{{properCase name}} Component !</div>
}

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};